<template name="managePrivate">
<div id="content" class="transitions-content">
  <h2 class="ui header">
    <i class="edit icon"></i>
    <div class="content">
      Manage your Templates
      <div class="sub header">View and manage all of your Templates</div>
    </div>
  </h2>
  <div class="ui divider"></div>
  <br>

  {{#if privateTemplates.count}}
    <div class="ui fixed raised segment">

      <table class="ui unstackable very basic fixed single line table">
        <thead>
          <tr><th class="five wide">Name</th>
          <th class="six wide">Description</th>
          <th class="three wide">Created</th>
          <th class="two wide"></th>
        </tr></thead>
        <tbody>
          {{#each privateTemplates}}
            {{> privateTemplate}}
          {{/ each}}
        </tbody>
      </table>
    </div>
    {{> deleteModal}}
  {{else}}
    <h2 class="ui center aligned icon disabled header">
      <i class="help circle icon"></i>
      You don't have any Templates yet<br>
      <a href="{{pathFor 'createTemplate'}}"><u>Create one</u></a>
    </h2>
  {{/if}}
</div>
</template>


<template name="privateTemplate">
  <tr>
    <td><a href="{{pathFor 'viewTemplate'}}">{{name}}</a></td>
    <td>{{description}}</td>
    <td>{{shortDate createdAt}}</td>
    <td class="right aligned"><a href="#" class="ui negative delete">Remove</a></td>
  </tr>
</template>

<template name="deleteModal">
  <div id="deleteTemplateModal" class="ui basic modal">
    <div class="centered header">
      Delete Template
    </div>
    <div class="content">
      <div class="description">
        <p>You will be unable to use this Template from now on.  Are you sure you want to delete?</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui inverted buttons">
        <div class="ui basic inverted button cancel">
          Cancel
        </div>
        <div class="ui red basic inverted button approve">
          <i class="remove icon"></i>
          Delete
        </div>
      </div>
    </div>
  </div>
</template>
