<template name="manageTemplates">
<div id="content" class="transitions-content">

  <h4>
    Manage your Templates
    <h6>
      View and manage all of your Templates
    </h6>
  </h4>
  <br>
  <div class="divider"></div>
  <br>

  {{#if privateTemplates.count}}

  <div class="card">
    <div class="card-content">
      <span class="card-title">Templates Owned by You</span>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
            <th>Description</th>
            <th>Created</th>
            <th></th>
        </tr></thead>
        <tbody>
          {{#each privateTemplates}}
            {{> privateTemplate}}
          {{/ each}}
        </tbody>
      </table>
    </div>
  </div>
    {{> deleteModal}}
  {{/if}}

  {{#if sharedTemplates.count}}

    <div class="card">
      <div class="card-content">
        <span class="card-title">Templates Shared with You</span>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Created</th>
              <th>Owner</th>
          </tr></thead>
          <tbody>
            {{#each sharedTemplates}}
              {{> sharedTemplate}}
            {{/ each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/if}}

  {{#unless privateTemplates.count}}
  {{#unless sharedTemplates.count}}
    <h2 class="ui center aligned icon disabled header">
      <i class="help circle icon"></i>
      You don't have any Templates yet<br>
      <a href="{{pathFor 'createTemplate'}}"><u>Create one</u></a>
    </h2>
  {{/unless}}
  {{/unless}}
</div>
<br>
</template>


<template name="privateTemplate">
  <tr>
    <td>
      <a href="{{pathFor 'viewTemplate'}}">{{name}}</a>
    </td>
    <td class="right">
      {{#if sharing.shared}}
        <a class="tiny ui icon shared" id="sharedIcon" 
            data-content="You are sharing this Template with others in your Organization"
            data-variation="inverted basic">
          <i class="icon users"></i>
        </a>
      {{/if}}
    </td>
    <td>
      {{description}}
    </td>
    <td>
      {{shortDate createdAt}}
    </td>
    <td class="right">
      <a href="#" class="deleteConfirm">Remove</a>
    </td>
  </tr>
</template>

<template name="sharedTemplate">
  <tr>
    <td>
      <a href="{{pathFor 'viewTemplate'}}">{{name}}</a>
    </td>
    <td>
      {{description}} 
    </td>
    <td>
      {{shortDate createdAt}}
      </td>
    <td>
      {{creator}}
    </td>
  </tr>
</template>

<template name="deleteModal">
  <div id="deleteTemplateModal" class="modal">
    <div class="modal-content">
      <h4>
        Delete Template
      </h4>
      <p>
        You will be unable to use this Template from now on.  Are you sure you want to delete?
      </p>
    </div>
    <div class="modal-footer">
      <div class="modal-action modal-close waves-effect waves-light btn red delete">
        Delete
      </div>
      <div class="modal-action modal-close waves-effect waves-light btn btn-flat">
        Cancel
      </div>
    </div>
  </div>
</template>
