<template name="feedbackForm">
  <div class="card-panel scale-transition scale-out" id="feedbackForm">
    <h4>Submit Feedback</h4>
    <p>Let us know your thoughts about how we can improve this app. We're working to make improvements all the time!</p>

    <div id="feedbackMessage" class="hidden ui floating message">
      <div class="header">
        <span id="feedbackMessageTitle"></span>
      </div>
      <p id="feedbackMessageBody"></p>
    </div>

    <form class="section">
      <div class="ui error message">
      </div>
      <div class="input-field">
        <select name="feedbackType">
          <option value="" disabled selected>Select Feedback Type</option>
          <option value="Bug">Something's not working</option>
          <option value="Suggestion">Submit a suggestion</option>
          <option value="Question">Ask a question</option>
          <option value="Other">Report something else</option>
        </select>
        <label for="feedbackType">Type of Feedback</label>
      </div>
      <div class="input-field">
        <textarea name="feedbackText" class="materialize-textarea"></textarea>
        <label for="feedbackText">Tell us more...</label>
      </div>
      <button class="btn waves-effect waves-light teal">Submit Feedback</button>
    </form>
  </div>

  <div id="feedbackButtons">
    <button id="feedbackButton" class="tooltipped btn-floating btn-small waves-effect waves-light" data-active="false" data-position="left" data-delay="50" data-tooltip="Submit Feedback">
      ?
    </button>
  </div>

</template>
