<template name="templates">

<div class="ui text container">
  <div class="ui text">
      <h1 class="ui dividing header">Choose Template</h1>
      <p>Choose a template from the dropdown to get started.
      </p>
  </div>
</div>

<br><br>

{{#if privateTemplates}}
  <div class="ui text container">
    <table class="ui selectable unstackable table single line table">
      <thead>
        <tr><th>Name</th>
        <th>Folder</th>
        <th>Created</th>
        <th>Remove</th>
      </tr></thead>
      <tbody>
        {{#each privateTemplates}}
          {{> privateTemplate}}
        {{/ each}}
      </tbody>
    </table>
  </div>
  {{> confirmModal}}
{{else}}
  <div class="ui large labeled icon vertical menu">
    <a href="/template/create" class="item"><i class="plus icon"></i> Add</a>
  </div>
{{/if}}
</template>


<template name="confirmModal">
  <div class="ui basic modal">
    <div class="centered header">
      Delete Template
    </div>
    <div class="content">
      <div class="description">
        <p>You will be unable to use this Template from now on.  Are you sure you want to delete?</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui inverted buttons">
        <div class="ui basic inverted button cancel">
          Cancel
        </div>
        <div class="ui red basic inverted button approve">
          <i class="remove icon"></i>
          Delete
        </div>
      </div>
    </div>
  </div>
</template>
