<template name="templates">
<div id="content" class="transitions-content">

  <h2 class="ui header">
    <i class="refresh icon"></i>
    <div class="content">
      Copy from a Template
      <div class="sub header">Copy folders and files from an exsiting Template into another Box folder</div>
    </div>
  </h2>
  <div class="ui divider"></div>

{{#if privateTemplates.count}}

      {{#if queue}}
        <div id="prep" class="ui floating icon white message" style="overflow: hidden !important;">
          <i class="folder icon"></i>
          <div class="content">
            <p>Choose a template below to copy items into <b>{{queue.folderName}}</b> <a id="folderQuestion" class="ui green right corner label"><i class="question icon"></i></a></p>
          </div>
        </div>
      {{else}}
        <h2 class="ui center aligned icon disabled header">
          <i class="external share icon"></i>
          It looks like you haven't chosen a folder from Box yet!<br>
          Go to the Box folder you'd like to copy to and choose "CloudTemplates for Box" from the More Actions menu.<br>
          If you don't see see that option in More Actions, you may need to <a href="https://box.com/services/browse/search/cloudtemplates_for_box">add the integration</a> to your Box account first!<br>
        </h2>
      {{/ if}}

      <div id="copy" class="ui hidden icon blue floating message">
        <i class="notched circle loading icon"></i>
        <div class="content">
          <div class="header">
            Just a second
          </div>
          <p>We're copying items into <b>{{queue.folderName}}</b></p>
        </div>
      </div>

      <div id="success" class="ui hidden icon positive floating message">
        <i class="checkmark icon"></i>
        <i class="close icon"></i>
        <div class="content">
          <div class="header">
            Success!
          </div>
          <p id="successStatus"></p>
          <div id="itemsCopySuccess" class="ui list hidden">
          </div>
        </div>
      </div>

      <div id="warning" class="ui hidden icon warning floating message">
        <i class="warning sign icon"></i>
        <i class="close icon"></i>
        <div class="content">
          <div class="header">
            Some items were not created
          </div>
          <p id="warningStatus"></p>
          <div id="itemsCopyWarning" class="ui list hidden">
          </div>
        </div>
      </div>

      <div id="fail" class="ui hidden icon negative floating message">
        <i class="warning sign icon"></i>
        <i class="close icon"></i>
        <div class="content">
          <div class="header">
            Something went wrong!
          </div>
          <p><b><span id="errorDesc"></span></b></p>
        </div>
      </div>

  <!-- TEMPLATE CREATION SECTION -->
  {{#if queue}}
    <div class="ui fixed raised segment">
      <div class="ui dividing header">
        <div id="selectTemplate" class="ui dropdown">
          <div class="text"><h2>Choose Template...</h2></div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="ui icon search input">
              <i class="search icon"></i>
              <input type="text" placeholder="Search templates...">
            </div>
            <div class="divider"></div>
            {{#each privateTemplates}}
              <div class="item dropdown-item">
                {{name}}
                <span class="description">Private</span>
              </div>
            {{/ each}}
          </div>
        </div>
      </div>
      <p id="description">Select a template above to get started</p>
  </div>
  <div id="templateElements" class="hidden">
    <div class="ui fixed raised segment">
      <!-- <form class="ui form">
        <div class="field">
          <label>New Folder Name</label>
          <input type="text" name="newFolderName" placeholder="New Folder Name">
        </div>
      </form> -->

      <h4>Ready to copy the items below into "{{queue.folderName}}":</h4>

      <div class="ten wide column">
        <div class="ui list">
          {{#each template.items}}
            <div class="item">
              <p>{{#if isFile type}}<div class="fixedLabel ui blue horizontal label">File</div>{{/if}}{{#if isFolder type}}<div class="fixedLabel ui green horizontal label">Folder</div>{{/if}}&nbsp;&nbsp; {{name}}</p>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="ui fixed raised segment">
      <div class="ui toggle checkbox" id="advancedCopy">
        <input type="checkbox" name="advancedCopyCheckbox" tabindex="0" class="hidden">
        <label><strong>Use Dynamic Rename</strong>&nbsp;&nbsp;&nbsp;&nbsp;<div class="ui small orange horizontal label">BETA</div></label>
      </div>

      <div id="advancedCopyOptions" class="hidden">
        <br>
          <p>
            Find and replace words or phrases in the names of copied files and folders&nbsp;
            <a class="ui mini grey circular label" id="renameHelp" data-title="Dynamic Rename (in Beta)"
                data-content="Copied items can be renamed using the find and replace form fields below.
                CloudTemplates will search for your &quot;find&quot; term in item names and replace it
                with your &quot;replace&quot; term. The &quot;find&quot; terms are case-sensitive.
                While in Beta, only the first two levels of
                your copied content will be affected (not all of the copied content will be searched)"
                data-variation="inverted basic wide">?</a>
            <br>
            <small><i>For example: Find all instances of the word "Customer" in your copied items and replace them with the name of your actual customer</i></small>
          </p>
          <div id="advancedCopyRename" class="ui form">
            <div class="three fields">
              <div class="field">
                <label>Find</label>
              </div>
              <div class="field">
                <label>Replace</label>
              </div>
              <div class="field">
                <label>&nbsp;</label>
              </div>
            </div>
            {{#each template.findValues}}
              <div class="three fields">
                <div class="field">
                  {{this}}
                  <input type="hidden" class="findField smallFormInput" name="find_{{this}}" value="{{this}}">
                </div>
                <div class="required field">
                  <input type="text" class="replaceField smallFormInput" name="replace_{{this}}" placeholder="Replace matches of &quot;{{this}}&quot; with...">
                </div>
                <div class="field">
                </div>
              </div>
            {{/each}}
            <div class="three fields fieldGroup">
              <div class="field">
                <input type="text" class="findField smallFormInput" name="find1" placeholder="Find this in item names">
              </div>
              <div class="field">
                <input type="text" class="replaceField smallFormInput" name="replace1" placeholder="Replace matches with...">
              </div>
              <div class="field">
                <div id="addField" class="ui tiny basic blue icon button">
                  <i class="plus icon"></i>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="ui fixed basic center aligned segment">
      <button id="copyTemplate" class="large positive ui button">Copy Template</button>
    </div>
  </div>
  {{/if}} <!-- if queue -->
    <!-- END TEMPLATE CREATION SECTION -->


{{else}}
<div class="scrollable">
  <h2 class="ui center aligned icon disabled blue header">
    <i class="add circle icon"></i>
    Hold on, you need to create a Template!<br>
    Follow the steps below {{#if queue}}before copying into "{{queue.folderName}}"{{else}}to get started{{/if}}
  </h2>
  <br>

  <div class="ui fixed raised segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h2 class="ui header">Start by Creating a Template</h2>
            <p>A Template is just a collection of folders and files from Box that can be quickly copied into other folders.
            Create one for sales collateral, project materials, or info for new customers.</p>
        </div>
        <div class="six wide right floated column">
          <img src="/images/create.png" class="ui rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui large inverted blue button" href="{{pathFor 'createTemplate'}}">Let's Go</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui fixed raised segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h2 class="ui header">Then Copy from a Template</h2>
            <p>Once you've created a Template, come back to this page so you can use it to copy items into your Box folder. Just <a href="https://box.com/services/browse/search/cloudtemplates_for_box" target="_blank">add the integration</a> to your Box account
            and click "Create from CloudTemplates" on the folder you want to copy items into!</p>
        </div>
        <div class="six wide right floated column">
          <img src="/images/integration.png" class="ui rounded image">
        </div>
      </div>
    </div>
  </div>
</div>
  <br>
{{/if}}

{{> folderQuestion}}
</div>

</template>


<template name="folderQuestion">
  <div id="folderQuestionModal" class="ui basic modal">
    <div class="centered header">
      Copying Items into a Folder
    </div>
    <div class="content">
      <div class="description">
        <p>This page allows you to copy items from your existing Templates into a Box folder.
          It looks like <b>{{queue.folderName}}</b> is the last folder you tried to copy into, so we remembered it from last time.
          If you want to copy into a different folder instead, <b>right-click on that folder in Box and choose "Copy from CloudTemplates" in the More Actions menu.</b>
        </p>
      </div>
    </div>
    <div class="actions">
      <div class="ui basic green inverted button cancel">
        <i class="check icon"></i>
        Ok, Got It
      </div>
    </div>
  </div>
</template>
