<template name="templates">
<div id="content">
  <div class="ui text container">
    <div class="ui text">
        <div class="ui dividing header">
          <div class="ui dropdown">
            <div class="text"><h2>Choose Template...</h2></div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="ui icon search input">
                <i class="search icon"></i>
                <input type="text" placeholder="Search templates...">
              </div>
              <div class="divider"></div>
              {{#each privateTemplates}}
                <div class="item dropdown-item">
                  {{name}}
                  <span class="description">Private</span>
                </div>
              {{/ each}}
            </div>
          </div>
        </div>
        <p id="description">Select a template above to get started</p>
    </div>
  </div>

  <br><br>

    <div class="ui text container">
      <div class="content">

      </div>
    </div>
    {{> confirmModal}}
</div>
</template>


<template name="confirmModal">
  <div class="ui basic modal">
    <div class="centered header">
      Delete Template
    </div>
    <div class="content">
      <div class="description">
        <p>You will be unable to use this Template from now on.  Are you sure you want to delete?</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui inverted buttons">
        <div class="ui basic inverted button cancel">
          Cancel
        </div>
        <div class="ui red basic inverted button approve">
          <i class="remove icon"></i>
          Delete
        </div>
      </div>
    </div>
  </div>
</template>
