
<template name="home">

    <div class="ui container">
      <div id="homeNav" class="ui large secondary fixed inverted menu">
        <a class="active item">Home</a>
        <div class="right item">
          {{#if isLoggedIn}}
            <div id="profile" class="ui dropdown">
              <img class="ui avatar image" src="{{currentUser.profile.avatar}}">
              <div class="text"> {{currentUser.profile.fullName}}</div>
              <i class="dropdown icon"></i>
              <div class="menu" style="font-size: 1em !important;"> <!--fix for Semantic UI issue -->
                <a href="{{pathFor 'profile'}}" class="item">Profile</a>
                {{#if isInRole 'admin'}}
                  <a href="/admin" class="item">Admin</a>
                {{/if}}
                <div class="divider"></div>
                <a href="{{pathFor 'signOut'}}" class="item">Logout</a>
              </div>
            </div>
          {{else}}
            <a class="ui inverted button" href="{{pathFor 'signin'}}">Log in</a>&nbsp;&nbsp;
            <a class="ui inverted button" href="{{pathFor 'signin'}}">Sign Up</a>
          {{/if}}
        </div>
      </div>
    </div>

<div id="fullpage">
	<div class="section" id="section0">
    <div class="intro">
  		<h1 class="home-h1">
        {{#if isLoggedIn}}
          Hey, {{currentUser.profile.fullName}}!
        {{else}}
          CloudTemplates for Box
        {{/if}}
      </h1>
  		<p class="home-p">
        {{#if isLoggedIn}}
          {{#if privateTemplates.count}}
            {{#if queue}}
              We're ready to copy items into <b>"{{queue.folderName}}"</b>
            {{else}}
              Pick a folder from Box to copy Template items into! Right-click on any Box folder and select "Create from CloudTemplates" from the More Actions menu.
            {{/if}}
          {{else}}
              Create a Template of folders and files that can be quickly copied into other Box folders. Scroll down to learn more, or get started now!
          {{/if}}
        {{else}}
          Create Templates of Box folders and files that can be quickly copied into other Box folders. Scroll down to learn more.
        {{/if}}
      </p>
      <br>
      {{#if privateTemplates.count}}
        <a class="ui huge inverted button" href="{{pathFor 'templates'}}">Copy from Template <i class="right arrow icon"></i></a>
      {{else}}
        <a class="ui huge inverted button" href="{{pathFor 'createTemplate'}}">Create a Template <i class="right arrow icon"></i></a>
      {{/if}}
    </div>
	</div>
	<div class="section" id="section1">
			<div class="intro">
        <br><br>
        <div id="steps" class="ui two steps">
          {{#if privateTemplates.count}}
            <a id="createHeader" class="step">
              <div class="content">
                <div class="title">Create</div>
                <div class="description">Create a Template of folders and files</div>
              </div>
            </a>
            <a id="copyHeader" class="active step">
              <div class="content">
                <div class="title">Copy</div>
                <div class="description">Copy from an existing Template into Box</div>
              </div>
            </a>
          {{else}}
          <a id="createHeader" class="active step">
            <div class="content">
              <div class="title">Create</div>
              <div class="description">Create a Template of folders and files</div>
            </div>
          </a>
          <a id="copyHeader" class="step">
            <div class="content">
              <div class="title">Copy</div>
              <div class="description">Copy from an existing Template into Box</div>
            </div>
          </a>
          {{/if}}
        </div>
        <br><br><br>
        {{#if privateTemplates.count}}
          <p id="copyBody" class="home-p">
            Use your Templates to copy files and folders into other Box folders! Simply right-click on any folder in
            your Box account and select "Create from CloudTemplates" from the More Actions menu.
          </p>
          <br><br>
          <a class="ui large inverted blue button" href="{{pathFor 'templates'}}">Let's Copy</a>
        {{else}}
          <p id="createBody" class="home-p">
            Templates can contain multiple Box files and folders! They're designed to make the repetative task of copying
            content you use frequently much easier. Create one for sales collateral, project materials, or info for new customers.
          </p>
          <br><br>
          <a class="ui large inverted blue button" href="{{pathFor 'createTemplate'}}">Let's Create</a>
        {{/if}}
			</div>
	</div>
	<div class="section" id="section2">
		<div class="intro">
			<h1 class="home-h1">Built on Box</h1>
			<p class="home-p">
        We have the same security, permissions, and reliability you love
        because CloudTemplates is built entirely on top of Box!
      </p>
		</div>
	</div>
	<div class="section" id="section3">
		<div class="intro">
			<h1 class="home-h1">Always Improving</h1>
			<p class="home-p">
        We're hoping to add other great features soon!
        Some things we're thinking about are dynamically renaming items and Admin-managed Enterprise level Templates.
        If you have other ideas let us know!
			</p>
		</div>
	</div>
</div>
</template>
