
<template name="home">

    <div class="ui container">
      <div id="homeNav" class="ui large secondary fixed inverted menu">
        <a class="active item">Home</a>
        <div class="right item">
          {{#if isLoggedIn}}
            <div id="profile" class="ui dropdown">
              <img class="ui avatar image" src="{{currentUser.profile.avatar}}">
              <div class="text"> {{currentUser.profile.fullName}}</div>
              <i class="dropdown icon"></i>
              <div class="menu" style="font-size: 1em !important;"> <!--fix for Semantic UI issue -->
                <a href="/profile" class="item">Profile</a>
                {{#if isInRole 'admin'}}
                  <a href="/admin" class="item">Admin</a>
                {{/if}}
                <div class="divider"></div>
                <a href="/sign-out" class="item">Logout</a>
              </div>
            </div>
          {{else}}
            <a class="ui inverted button" href="/sign-in">Log in</a>&nbsp;&nbsp;
            <a class="ui inverted button" href="/sign-in">Sign Up</a>
          {{/if}}
        </div>
      </div>
    </div>

<div id="fullpage">
	<div class="section" id="section0">
    <div class="intro">
  		<h1>
        {{#if isLoggedIn}}
          Hey, {{currentUser.profile.fullName}}!
        {{else}}
          CloudTemplates for Box
        {{/if}}
      </h1>
  		<p>
        {{#if isLoggedIn}}
          {{#if privateTemplates.count}}
            {{#if queue}}
              We're ready to copy items into <b>"{{queue.folderName}}"</b>...
            {{else}}
              Pick a folder from Box to copy Template items into! Right-click on any Box folder and select "Create from CloudTemplates" from the More Actions menu.
            {{/if}}
          {{else}}
              Create a Template of folders and files that can be quickly copied into other Box folders. Scroll down to learn more, or get started now!
          {{/if}}
        {{else}}
          Create Templates of Box files and folder that can be quickly copied into other Box folders. Scroll down to learn more.
        {{/if}}
      </p>
      <br>
      {{#if privateTemplates.count}}
        <a class="ui huge inverted button" href="{{pathFor 'templates'}}">Copy from Template <i class="right arrow icon"></i></a>
      {{else}}
        <a class="ui huge inverted button" href="{{pathFor 'createTemplate'}}">Create a Template <i class="right arrow icon"></i></a>
      {{/if}}
    </div>
	</div>
	<div class="section" id="section1">
		<div class="slide createSlides">
			<div class="intro">
      	<h1>Create a Template</h1>

				<p>
          {{#if privateTemplates.count}}
            Nice, you already have some templates! Create another for sales collateral, project materials, or info for new customers.
          {{else}}
            A Template is just a collection of Box items that can be quickly copied into other folders
          {{/if}}
        </p>
        <br>
        <a class="ui large inverted button" href="{{pathFor 'createTemplate'}}">Let's Create</a>

			</div>

		</div>
		<div class="slide createSlides">
			<div class="intro">
				<p>Templates can contain multiple Box files and folders! They're designed to make the repetative task of copying
          content you use frequently much easier. Create one for sales collateral, project materials, or info for new customers.
        </p>
			</div>
		</div>
		<div class="slide copySlides">
			<div class="intro">
				<h1>Copy from a Template</h1>
				<p>
          {{#if privateTemplates.count}}
            {{#if queue}}
              We're ready to copy from your existing Templates into <b>"{{queue.folderName}}."</b> Click the Copy button below to get started.
            {{else}}
              Ready to build from your existing Templates? Go to your Box account
              and click More Actions and "Create from CloudTemplates" on the folder you want to copy items into! You may need to <a href="https://box.com/services/browse/search/cloudtemplates_for_box">add the integration</a> to your Box account first.
            {{/if}}
          {{else}}
            Once you've created a Template, use it to copy items into other Box folders
          {{/if}}
        </p>
        <br>
        <a class="ui large inverted button" href="{{pathFor 'templates'}}">Let's Copy</a>
			</div>
		</div>
		<div class="slide copySlides">
			<div class="intro">
				<p>
          Simply right-click on any folder in your Box account and select
          "Create from CloudTemplates" from the More Actions menu
        </p>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="intro">
			<h1>Built on Box</h1>
			<p>
        We have the same security, permissions, and reliability you love
        because CloudTemplates is built entirely on top of Box!
      </p>
		</div>
	</div>
	<div class="section" id="section3">
		<div class="intro">
			<h1>Always Improving</h1>
			<p>
        We're hoping to add other great features soon!
        Some things we're thinking about are dynamically renaming items and Admin-managed Enterprise level Templates.
        If you have other ideas let us know!
			</p>
		</div>
	</div>
</div>
</template>
