<template name="home">
<div id="content">
  <div class="ui text container">
    <div class="ui center aligned header">
      <h1>welcome</h1>
    </div>

    <div class="ui text">
      {{#if isLoggedIn}}
        <h3 class="ui centered header">
          <a href="/templates">copy a template</a> to get started
        </h3>
        <div class="ui center-text content">
          you can also <b><a href="/templates">manage your templates</a></b> or <b><a href="/template/create">create a new one</a></b>
        </div>
      {{else}}
        <h3 class="ui centered header"><b><a href="/sign-in">login</a></b> to get started</h3>
      {{/if}}
    </div>
  </div>
</div>
</template>
