<template name="viewTemplate">
{{#if template}}
  <div class="ui text container">

    <div class="ui icon yellow message">
      <i class="warning icon"></i>
      Content is not yet editable
    </div>
    <br>

    <div class="ui text">
        <h1 class="ui dividing header">Template: {{template.name}}</h1>
    </div>
  </div>

<br>

  <div class="ui text container">

    <div class="ui items">
      <div class="item">
        <div class="content">
          <a class="header">Template Name</a>
          <div class="description">
            <p>{{template.name}}</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <a class="header">Folder</a>
          <div class="description">
            <p>{{template.folderName}}</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <a class="header">Date Created</a>
          <div class="description">
            <p>{{longDate template.createdAt}}</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <a class="header">Active?</a>
          <div class="description">
            <p>
              <div class="ui toggle checkbox">
                <input type="checkbox" tabindex="0" checked="{{template.active}}" readonly="" class="hidden">
              </div>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>

{{else}}

<div class="ui text container">

  <div class="ui red message">
    <i class="question icon"></i>
    The template was not found or you do not have permission to access it
  </div>
</div>

{{/if}}

</template>
