/* Custom CSS
 * --------------------------------------- */

.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
.home-h1{
	font-size: 6em;
  color: #fff;
}
.home-p{
	font-size: 2em;
  color: #fff;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
  text-align:center;
}

#homeNav{
  padding: 40px;
}

/* Defining each section background and styles
* --------------------------------------- */
#section0{
  background-image: url(/images/assets/ipad-with-icons.jpeg);
  background-size: cover;
  /*background-color: #1D91D4;*/
}
#section1{

  /*background-color: #F3721B;*/
}
#section2{
  background-image: url(/images/assets/holding-box-folder.jpeg);
  background-size: cover;
  /*background-color: #04B6AD;*/
  padding: 6% 0 0 0;
}
#section3{
  background-image: url(/images/assets/hipster-with-ipad.jpeg);
  background-size: cover;
  /*background-color: #004B85;*/
  padding: 6% 0 0 0;
}
/*Adding background for the slides
* --------------------------------------- */
.createSlides {
  background-image: url(/images/assets/woman-pointing-file.jpeg);
  background-size: cover;
  /*background-color: #21BA45;*/
}
.copySlides {
  background-image: url(/images/assets/man-holding-folders.jpeg);
  background-size: cover;
  /*background-color: #21BA45;*/
}
