//Custom Variables
@box-cyan:              #1D91D4;
@box-blue:              #004B85;
@box-navy:              #0B2648;
@box-blue-lighter:      lighten(#004B85, 13.5%);

// Main styles
html,body{
  overflow-x: hidden;
  overflow-y: auto !important;
}


.pusher {
  padding-left: 15px;
  padding-right: 170px;
}

#sidebar {
  background-color: @box-cyan;
}

.scrollable {
    height: 300px;
    overflow:auto !important;
}

.center-text {
  text-align: center;
}

.text.container .left.floated.image {
  margin: 2em 2em 2em -4em;
}

.text.container .right.floated.image {
  margin: 2em -4em 2em 2em;
}

.ui.footer.segment {
  margin: 3em 0em 0em;
  padding: 2em 0em;
}

#at-box {
  background-color: @box-cyan !important;
  color: #FFFFFF !important;
}

#navButtons {
    position: fixed;
    text-align: right;
    height: 30px;
    top: 50% - 25px;
    right: 30px;
}

.navButton {
    padding-top: 15px;
}

#feedbackButtons {
    position: fixed;
    text-align: right;
    bottom: 30px;
    right: 30px;
}

#feedbackForm {
  position: fixed;
  bottom: 17px;
  right: 95px;
}
