<template name="footer">
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui equal width grid">
        <div class="column">
          <p>Box Folder Templates is an independent third party integration and is not associated
          with the core Box product in any way. Please do not contact Box Support with any inquiries
          related to this integration.</p>
        </div>
        <div class="column">
          <img src="/images/logo.png" class="ui inline image">
        </div>
        <div class="column">
          <div class="ui right floated inverted small divided link list">
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
