<template name="loading">
<div class="container">
  <div class="row">
    <div class="col s2 offset-s5">

      <div class="preloader-wrapper big active valign-wrapper center-align">
        <div class="spinner-layer spinner-teal-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

      <h5 class="center-align">Loading</h5>

    </div>
  </div>
</div>
</template>
