<template name="navbar">



  <div id="sidebar" class="ui thin visible left vertical inverted sidebar labeled icon menu">
    <div href="#" class="item">
      <a href="/">
        <img class="logo" src="/images/logo/CloudTemplates-white-90px.png">
        <b>CloudTemplates for Box</b>
      </a>
    </div>
    <div href="#" class="item">
      <div class="ui inverted fluid accordion">
        <div class="title">
          <img class="ui avatar image" src="{{currentUser.profile.avatar}}">
          <div class="text"> {{currentUser.profile.fullName}}</div>
        </div>
        <div class="content">
          <a href="{{pathFor 'profile'}}" class="item transition hidden">Profile</a>
          {{#if isInRole 'admin'}}
            <a href="/admin" class="item transition hidden">Admin</a>
          {{/if}}
          <div class="divider"></div>
          <a href="/sign-out" class="item transition hidden">Logout</a>
        </div>
      </div>
    </div>
    <a class="item {{#if isActiveRoute name="templates"}}active{{/if}}" href="{{pathFor 'templates'}}">
      <i class="refresh icon"></i>
      Copy from Template
    </a>
    <a class="item {{#if isActiveRoute name="createTemplate"}}active{{/if}}" href="{{pathFor 'createTemplate'}}">
      <i class="plus icon"></i>
      Create a Template
    </a>
    <a class="item {{#if isActiveRoute name="managePrivate"}}active{{/if}}" href="{{pathFor 'managePrivate'}}">
      <i class="edit icon"></i>
      Manage your Templates
    </a>
  </div>

</template>
