<template name="profile">
<div id="content" class="transitions-content">

  <h4 class="valign-wrapper">
    <img class="circle" src="{{currentUser.profile.avatar}}">&nbsp;
    {{currentUser.profile.fullName}}
  </h4>
  <h6>
    This infomation is synced with Box every 12 hours
  </h6>

  <br>
  <div class="ui divider"></div>
  <br>

  <div class="card">
    <div class="card-image">
    </div>
    <div class="card-panel">
      <span class="card-title">Box Enterprise</span>
      <p>
        {{currentUser.profile.boxEntName}}
      </p>
      <br>
      <span class="card-title">Box Role</span>
      <p>
        {{currentUser.profile.boxRole}}
      </p>
      <br>
      <span class="card-title">Box Tariff</span>
      <p>
        {{currentUser.profile.boxTariff}}
      </p>
      <br>
      <span class="card-title">Box EID</span>
      <p>
        {{currentUser.profile.eid}}
      </p>
    </div>
  </div>

  {{#if currentUser.profile.boxGroups}}

    <div class="card">
      <div class="card-image">
      </div>
      <div class="card-panel">
        <span class="card-title">Box Groups</span>

        {{#each currentUser.profile.boxGroups}}
          <p>
            {{#if isAdmin role}}
              <span class="fixedProfileLabel new badge blue">Admin</span>
            {{/if}}
            {{#if isMember role}}
              <span class="fixedProfileLabel new badge green">Member</span>
            {{/if}}
            {{name}}
          </p>
        {{/each}}
      </div>
    </div>

  {{/if}}
  <br>
</div>
</template>
