<template name="profile">
<div id="content" class="transitions-content">

  <h2 class="ui header">
    <img class="ui avatar image header" src="{{currentUser.profile.avatar}}">
    <div class="content">
      {{currentUser.profile.fullName}}
      <div class="sub header">This infomation is synced with Box every 12 hours</div>
    </div>
  </h2>
  <div class="ui divider"></div>
  <br>

  <div class="ui raised segment">
    <h4 class="ui header">
      Box Enterprise
      <div class="sub header">{{currentUser.profile.boxEntName}}</div>
    </h4>

    <h4 class="ui header">
      Box Role
      <div class="sub header">{{currentUser.profile.boxRole}}</div>
    </h4>

    <h4 class="ui header">
      Box Tariff
      <div class="sub header">{{currentUser.profile.boxTariff}}</div>
    </h4>

    <h4 class="ui header">
      Box EID
      <div class="sub header">{{currentUser.profile.eid}}</div>
    </h4>
  </div>

  <div class="ui raised segment">
    <h4 class="ui header">
      Box Groups
      <br>
      <div class="ui list">
        {{#each currentUser.profile.boxGroups}}
          <div class="sub header item">
              <p>{{#if isAdmin role}}<div class="ui blue horizontal label">&nbsp;&nbsp;Admin&nbsp;&nbsp;</div>{{/if}}{{#if isMember role}}<div class="ui green horizontal label">Member</div>{{/if}}&nbsp; {{name}}</p>
          </div>
        {{/each}}
      </div>
    </h4>
  </div>
</div>
</template>
