<template name="createTemplate">
<div id="content" class="transitions-content">

  <h4>
    <i class="plus icon"></i>
      Create a Template
      <h6>
        Create new Templates of Box files and folders. This Template will only be available
        to you and cannot be used by other members of your organization.
      </h6>
  </h4>
  <br>
  <div class="divider"></div>
  <br>
  <form class="form">
    <div class="card-panel">
      <div class="ui error message">
      </div>
      <div class="input-field">
        <input type="text" name="templateName" class="validate" autocomplete="off" required="" aria-required="true">
        <label for="templateName">Template Name</label>
      </div>
      <div class="input-field">
        <textarea name="templateDescription" class="materialize-textarea validate" required="" aria-required="true"></textarea>
        <label for="templateDescription">Description</label>
      </div>
    </div>

    <div class="card-panel">
      <div class="row">
        <div class="col s4">
          <label>Choose Items for Template</label>
          <div id="box-select" data-link-type="shared" data-multiselect="true" data-client-id="s453dffkrhqzhm8nol7ca4i523a4wn7c"></div>
        </div>
        <div class="col s8">
          {{#each templateItems}}
            <p>
              {{#if isFile type}}
                <span class="fixedLabel new badge blue">&nbsp; FILE &nbsp;</span>
              {{/if}}
              {{#if isFolder type}}
                <span class="fixedLabel new badge green">FOLDER</span>
              {{/if}}
              <div class="truncate">
                {{name}}
              </div>
            </p>
          {{/each}}
        </div>
      </div>
    </div>

    {{#if isAdminOrCoadmin}}
      <div class="card-panel">
        <div class="switch" id="shared">
          <label>
            <input type="checkbox" name="sharedCheckbox" id="sharedCheckbox">
            <span class="lever"></span>
            Share Template with Colleagues
          </label>
          <span class="fixedLabel new badge orange tooltipped" id="sharingHelpLabel" data-position="top" data-delay="50" data-tooltip="This feature is still in Beta">BETA</span>
        </div>
        
      </div>
      {{>sharingCollabConfirm}}
      {{>sharingHelp}}
    {{/if}}

    <div class="card-panel">
      <div class="switch" id="advancedCopy">
        <label>
          <input type="checkbox" name="advancedCopyCheckbox">
          <span class="lever"></span>
          Use Dynamic Rename
        </label>
        <span class="fixedLabel new badge orange tooltipped" id="renameHelpLabelCreate" data-position="top" data-delay="50" data-tooltip="This feature is still in Beta">BETA</span>
      </div>

      {{#if usesDynamicRenameCreate}}
        <div id="advancedCopyOptions">
          <br>
            <p>
              Find and replace words or phrases in the names of copied files and folders&nbsp;
              <a class="chip" href="#renameHelpCreateModal" id="renameHelpLabelCreate">?</a>
                  <br>
              <small><i>For example: Find all instances of the word "Customer" in your copied items and replace them with the name of your actual customer</i></small>
            </p>
            <div id="advancedCopyRename" class="ui form">
              <div class="row">
                <div class="input-field col s8">
                  <label>Find</label>
                </div>
                <div class="sol s4">
                  <label>&nbsp;</label>
                </div>
              </div>
              <div class="row fieldGroup">
                <div class="input-field col s8">
                  <input type="text" class="findField smallFormInput" name="find1" placeholder="Find this word in item names">
                </div>
                <div class="col s4">
                  <div id="addField" class="btn-floating btn-small waves-effect waves-light blue">
                    <i class="material-icons">add</i>
                  </div>
                </div>
              </div>
          </div>
        </div> <!-- end advancedCopyRename -->
      {{/if}}
    </div> <!-- end dyanmicRename section -->

    <div class="section">
      <button class="waves-effect waves-light btn" type="submit">
        Create Template
      </button>
      <br>
      <br>
    </div>
  </form>
</div>
  {{>renameHelpCreate}}
</template>


<template name="renameHelpCreate">
  <div id="renameHelpCreateModal" class="modal">
    <div class="modal-content">
      <h4>
        <i class="wizard icon"></i>
        Dynamic Rename
      </h4>

      <p>
        CloudTemplates can automatically rename copied items with Dynamic Rename.
        CloudTemplates will search for your &quot;find&quot; terms in newly copied folder and file names and replace it
        with your &quot;replace&quot; term after copy. The &quot;replace&quot; term
        is set on the &quot;Copy from Template&quot; page when you're ready to copy. 
        For example, if you're copying a folder called &quot;CUSTOMER_NAME Project&quot; 
        you can dynamically replace &quot;CUSTOMER_NAME&quot; with the actual name of your customer.
        The &quot;find&quot; terms are case-sensitive. 
        <br><br>
        <b>
          While in Beta, only the first level of your copied content will be affected 
          (not all of the copied content will be searched)
        </b>
      </p>
    </div>
    <div class="modal-footer">
      <div class="modal-action modal-close waves-effect waves-light btn green">
        <i class="material-icons left">check</i>
        Ok, Got It
      </div>
    </div>
  </div>
</template>

<template name="sharingHelp">
  <div id="sharingHelpModal" class="modal">
    <div class="modal-content">
      <h4>
        <i class="users icon"></i>
        Shared Templates
      </h4>
      <p>
          Templates can be shared with others in your Organization. Shared Templates can 
          be viewed and used by others but cannot be deleted or edited. Only Box Admins or Co-Admins 
          in your Organization can create Shared Templates.
          <br><br>
          <b>
            Users MUST have collaboration
            access to the Box content being copied, or else will receive an error when copying!
          </b>
        </p>
    </div>
    <div class="modal-footer">
      <div class="modal-action modal-close waves-effect waves-light btn green">
        <i class="material-icons left">check</i>
        Ok, Got It
      </div>
    </div>
  </div>
</template>

<template name="sharingCollabConfirm">
  <div id="sharingCollabConfirmModal" class="modal">
    <div class="modal-content">
      <h4>
        <i class="users icon"></i>
        Can Your Organization Access These Items?
      </h4>

      <div class="row">
        <div class="col s6">
          <p>Please ensure that CloudTemplates users in your Organization have access to the 
            items in this Template. Your users must have <b>Viewer access or higher</b> to these
            items in Box, otherwise they will receive an error when copying from this Template!
          </p>
        </div>
        <div class="col s5 offset-s1">
          {{#each templateItems}}
            <p>
              {{#if isFile type}}
                <span class="fixedLabel new badge blue">&nbsp; FILE &nbsp;</span>
              {{/if}}
              {{#if isFolder type}}
                <span class="fixedLabel new badge green">FOLDER</span>
              {{/if}}
              <div class="truncate">
                {{name}}
              </div>
            </p>
          {{/each}}
        </div>
      </div>
    <div class="modal-footer">
      <div id="userAccessConfirm" class="modal-action modal-close waves-effect waves-light btn green">
        Users Can Access These Items
      </div>
      <div class="modal-action modal-close waves-effect waves-red btn btn-flat">
        Cancel
      </div>
    </div>
  </div>
</div>
</template>