<template name="createTemplate">
<div id="content" class="transitions-content">

  <h2 class="ui header">
    <i class="plus icon"></i>
    <div class="content">
      Create a Template
      <div class="sub header">Create new Templates of Box files and folders. This Template will only be available
        to you and cannot be used by other members of your organization.</div>
    </div>
  </h2>
  <div class="ui divider"></div>

  <div id="createMessage" class="hidden ui floating message">
    <i class="close icon"></i>
    <div class="header">
      <span id="messageTitle"></span>
    </div>
    <p id="messageBody"></p>
  </div>

  <br>

  <form class="ui form">
    <div class="ui fixed raised segment">
      <div class="ui error message">
      </div>
      <div class="field">
        <label>Template Name</label>
        <input type="text" name="templateName" placeholder="Template Name" autocomplete="off">
      </div>
      <div class="field">
        <label>Description</label>
        <textarea name="templateDescription" placeholder="Description" rows="3"></textarea>
      </div>
    </div>
    <div class="ui fixed raised segment">
      <div class="field">
        <label>Choose Items for Template</label>
        <div class="ui grid">
          <div class="six wide column">
            <div id="box-select" data-link-type="shared" data-multiselect="true" data-client-id="s453dffkrhqzhm8nol7ca4i523a4wn7c"></div>
          </div>
          <div class="ten wide column">
            <div class="ui divided list">
              {{#each templateItems}}
                <div class="item">
                <p>{{#if isFile type}}<div class="fixedLabel ui blue horizontal label">&nbsp;&nbsp;&nbsp;File&nbsp;&nbsp;&nbsp;</div>{{/if}}{{#if isFolder type}}<div class="fixedLabel ui green horizontal label">Folder</div>{{/if}}&nbsp;&nbsp; {{name}}</p>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui fixed basic center aligned segment">
      <button class="large positive ui button" type="submit">Create Template</button>
    </div>

  </form>

  <br><br>
</div>
</template>
